
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            display: flex; /* Включает Flexbox */
            flex-direction: column; /* Делаем колонкой, если нужно сделать так, чтобы верх был центром содержимого */
            align-items: center; /* Центрирует содержимое по горизонтали */
            justify-content: center; /* Центрирует содержимое по вертикали */
            background-image: url('backround.png'); 
            color:#ffffff;
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center; 
            height: 40vh;
            padding: 20px;
        }

            .intro {
                display: flex; /* Используем Flexbox для расположения .ava и .text в один ряд */
                align-items: center; /* Центрируем их вертикально */
                justify-content: left; /* Если нужно, чтобы они были по центру в пределах intro */
                margin-left: 240px;
                width: 100%; /* Занимает всю ширину родителя */
            }

            .intro .text {
                margin-left: 20px; /* Отступ слева для текста */
            }

            .intro .ava img {
                width: 200px; /* Ширина изображения */
            }

        section {
            padding: 20px;
            background-color: #e1f5fe; /*#e1f5fe #e0e0e0 #f5f5dc #e8f5e9*/
        }

            section h2{
                text-align: center;
            }

            .service-container {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
            }
            
            .service-card {
                background: #fff;
                border-radius: 15px;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
                width: calc(33.33% - 40px);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                overflow: hidden;
            }
            
            .service-card:hover {
                transform: translateY(-10px);
                box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
            }
            
            .service-header {
                display: flex;
                align-items: center;
                padding: 20px;
                background-color: #007BFF;
                color: #fff;
                cursor: pointer;
            }
            
            .service-header h3 {
                margin: 0;
                font-size: 18px;
            }
            
            .service-icon {
                font-size: 24px;
                margin-right: 10px;
            }
            
            
            .service-content {
                padding: 20px;
                background-color: #f9f9f9;
                /*display: none; скрыть*/
            }
            
            .service-content ul {
                list-style-type: none;
                padding: 0;
            }
            
            .service-content li {
                margin-bottom: 10px;
                font-size: 14px;
                color: #555;
            }

            .service-content li i {
                color: #e4ff14;
            }
            

        footer {
            text-align: center;
            padding: 20px;
            background: #040133;
            color: white;
        }
        .icon-container {
            display: flex; /* Используем Flexbox для расположения в строку */
            align-items: center; /* Выравнивание элементов по центру по вертикали */
            justify-content: center;
        }

        .icon-container a,
        .icon-container .copy-link {
            margin-right: 15px; /* Добавьте отступ между иконками */
            margin-bottom: 15px;
        }